
        <section class="book-container">
          <ul id="bookapp-list">
            <li class="bookapp-item" data-id="<%= oneBook.id %>">
              <img src="<%= oneBook.image %>" alt="<%= oneBook.title %>" \>
              <h4>Book: <%= oneBook.title %></h4>
              <p>Author: <%= oneBook.author %></p>
              <p>ISBN: <%= oneBook.isbn %></p>
              <p id="book-summary"><%= oneBook.summary %></p>
              <p>Genre: <%= oneBook.bookshelf %></p>
            </li>
          </ul>
        </section>
