<% let action = formAction === 'update' ? `/update/${book.id}?_method=PUT` : '/add'; %>

<h2 class="view-title"><%- 'update' === formAction ? "Update Book" : "Add A Book" %></h2>
<form action="<%= action %>" method="post">
  <input type="text" name="title" value="<%- book.title %>" placeholder="Book Name">
  <textarea name="descriptions" placeholder="Description of the task" cols="30"
    rows="10"><%- book.descriptions %></textarea>
  <input type="text" name="author" value="<%- book.author %>" placeholder="author">
  <input type="text" name="title" value="<%- book.title %>" placeholder="title">
  <input type="text" name="isbn" value="<%- book.isbn %>" placeholder="isbn">
  <input type="text" name="bookshelf" value="<%- book.bookshelf %>" placeholder="bookshelf">
  <button type="submit"><%- 'update' === formAction ? "Update This book" : "Add This book" %></button>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  let click = 0
  $('input').hide()
  $('textarea').hide()
  $('button').hide()
  $('.view-title').on('click', (e) => {
    e.preventDefault();
    click++
    console.log('youclickedme')
    if (click % 2 !== 0) {
      $('input').show()
      $('textarea').show()
      $('button').show()
    } else {
      $('input').hide()
      $('textarea').hide()
      $('button').hide()
      $('#delete').show()
    }


  })
</script>