<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="/styles/layout2.css">
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <%- include('../layout/h2') %>

    <ul>
      <% bookResultsData.forEach(value => { %>
        
        <img src="<%= value.image %>" alt="<%= value.title %>" name="search">
        <li id='title' name="search" value="title"><%= value.title %></li>
        <li id='author' name="search" value="author"><%= value.author %></li>
        <li id='summary' name="search" value="summary"><%= value.summary %></li>
        <a href="/books/<%=value.id%>">Add this book</a>
 
      <% })%>
    </ul>
  </main>
</body>
</html>