<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layout/head') %>
  <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
  <header>
    <%- include('./layout/header') %>
  </header>
  <main>
    <section>
      <ul>
        <li id="book-amount"><%= result.length %> books</li>
        <% result.forEach(books => { %>
          <li class="books-item" data-id="<%= books.id %>">
            <h4>books: <%= books.title %></h4>
            <a href="/books/<%= books.id%>">View Details</a>
          </li>
        <% }) %>
      </ul>
  </section>
  </main>  
</body>
</html>