<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Results</title>
  <link rel="stylesheet" href="/styles/reset.css">
</head>
<body>
  <ul>
    <% bookResultsData.forEach(value => { %>
      <img src="<%= value.image %>" alt="<%= value.title %>">
      <li><%= value.title %></li>
      <li><%= value.author %></li>
      <li><%= value.summary %></li>
  
    <% })%>
  </ul>
</body>
</html>